.world-map-note.is-whale { color: #e3fbf5; border: 1px solid #a9dedd; background: #2a6269ee; }
.world-map-note.is-whale-destination { color: #244f59; border: 1px dashed #b1f0e9; background: #d2f2e6ed; }
